<html>
<head>
    <title>My blog</title>
</head>
<body>
    <p>Hi there!</p>
    <p>It works!</p>
    {% extends 'blog/base.html' %}

    {% block content %}
    {% for post in posts %}
        <div>
            <p>
                published: {{ post.published_date }}
            </p>
            <h3>
                <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
            </h3>
            <h4>
                {{ post.text|linebreaksbr }}
            </h4>
        </div>
    {% endfor %}
    {% endblock %}
</body>
</html>